{
    "plugins": [
        "node",
        "promise"
    ],
    "extends": "./eslint-base.js",

    // Here we can define our own rules overriding the base rules
    "rules": {
        "max-len": [
            "error",
            120,
            2,
            {
                "ignoreUrls": true,
                "ignoreComments": false,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],

        "brace-style": [
            "error",
            "stroustrup",
            { "allowSingleLine": true }
        ],

        "prefer-template": "off",

        "no-plusplus": [
            "off",
            { "allowForLoopAfterthoughts": true }
        ],

        "linebreak-style": [ "error", "windows" ],

        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],

        // Things that may not need to change:

        "no-shadow": "off",

        "prefer-arrow-callback": [
            "error",
            {
                "allowNamedFunctions": true,
                "allowUnboundThis": true
            }
        ],

        "no-nested-ternary": "off",

        // Things that need debate in General:

        "guard-for-in": "off",

        "wrap-iife": [
            "off",
            "outside", // works with any
            { "functionPrototypeMethods": false }
        ],

        "object-shorthand": [
            "off",
            "consistent-as-needed"
        ],

        // Things that need change:

        "prefer-destructuring": [
            "off",
            {
                "VariableDeclarator": {
                    "array": false,
                    "object": true
                },
                "AssignmentExpression": {
                    "array": true,
                    "object": false
                }
            },
            {
                "enforceForRenamedProperties": false
            }
        ],

        "comma-dangle": [
            "off",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "always-multiline"
            }
        ],

        "function-paren-newline": [ "off", "consistent" ],

        "indent": [
            "off",
            4,
            {
                "SwitchCase": 1,
                "VariableDeclarator": 1,
                "outerIIFEBody": 1,
                // MemberExpression: null,
                "FunctionDeclaration": {
                    "parameters": 1,
                    "body": 1
                },
                "FunctionExpression": {
                    "parameters": 1,
                    "body": 1
                },
                "CallExpression": {
                    "arguments": 1
                },
                "ArrayExpression": 1,
                "ObjectExpression": 1,
                "ImportDeclaration": 1,
                "flatTernaryExpressions": false,
                // list derived from https://github.com/benjamn/ast-types/blob/HEAD/def/jsx.js
                "ignoredNodes": [ "JSXElement", "JSXElement > *", "JSXAttribute", "JSXIdentifier", "JSXNamespacedName", "JSXMemberExpression", "JSXSpreadAttribute", "JSXExpressionContainer", "JSXOpeningElement", "JSXClosingElement", "JSXFragment", "JSXOpeningFragment", "JSXClosingFragment", "JSXText", "JSXEmptyExpression", "JSXSpreadChild" ],
                "ignoreComments": false
            }
        ],

        "operator-linebreak": [
            "off",
            "before",
            { "overrides": { "=": "none" } }
        ],

        "consistent-return": "off",

        "no-use-before-define": [
            "off",
            {
                "functions": true,
                "classes": true,
                "variables": true
            }
        ],

        // "no-param-reassign": "off",

        "no-restricted-syntax": "off",

        "no-unused-expressions": "off",

        "no-extra-semi": "off",

        "no-shadow-restricted-names": "off",

        "no-underscore-dangle": "off",

        "arrow-body-style": "off",

        // var/const/let things:

        "vars-on-top": "off",

        "no-var": "off",

        "one-var-declaration-per-line": [ "off", "always" ],

        "no-unused-vars": [
            "off",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": true
            }
        ],

        "prefer-const": "off"
    }
}
